<div class="w-screen h-screen">
  <div class="container w-96 mx-auto mt-10">
    <div class="wrapper">
      <div class="banner-image"> </div>
      <h1>Rahel Wicki</h1>
      <p>Alles Gute zu deinem Geburtstag!</p>
    </div>
    @if (isPlaying) {
      <div class="mt-6 bg-gray-200 h-2 w-full rounded-full">
        <div class="bg-green-600 h-2 rounded-full" [style]="'width: ' + audioProgress() + '%' "></div>
      </div>

      <div class="flex gap-4 mt-3">
        <button (click)="pauseAudio()" class="text-slate-300 scale-150 hover:text-blue-500"><mat-icon>stop_circle</mat-icon></button>
        <button (click)="stopAudio()" class="text-red-500 scale-150 hover:text-red-600"><mat-icon>cancel</mat-icon></button>
      </div>
    } @else {
      @if (isPaused) {
        <div class="mt-6 bg-gray-200 h-2 w-full rounded-full">
          <div class="bg-green-600 h-2 rounded-full" [style]="'width: ' + audioProgress() + '%' "></div>
        </div>

        <div class="button-wrapper">
          <button (click)="resetPause()" class="text-slate-300 scale-150 hover:text-green-400"><mat-icon>play_circle</mat-icon></button>
        </div>
      } @else {
        <div class="button-wrapper">
          <button (click)="playAudio()" class="text-slate-300 scale-150 hover:text-green-400"><mat-icon>play_circle</mat-icon></button>
        </div>
      }
    }
  </div>
</div>
